<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>STOP PANDÉMII COVID-19</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='covid.png') }}" />
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet" type= "text/css"> 
    <!-- <link href="../static/styles/styles.css" rel="stylesheet" type= "text/css">  -->
  </head>

  <body id="page-top">
      <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">STOP PANDÉMII COVID-19</a>
        </div>
      </nav> 
  
      <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
          <h1 class="masthead-heading text-uppercase mb-0">rúško - odstup - ruky</h1>
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
            <div class="divider-custom-line"></div>
          </div>
            <div class="control-group">
              <div class="form-group controls mb-0 pb-2">
                <p class="lead">Proti pandémii môžeme spoločne zvíťaziť len vďaka solidarite a rešpektu.</p>
                <p class="lead">Tento systém kontroluje nosenie rúšok na verejnosti.</p>
              </div>
            </div>
        </div> 
      </header>
   
      <section class="bg-secondary" id="videostream"></section>
          <div class="container d-flex align-items-center flex-column">
            <img class="img-fluid" src="{{ url_for('video_feed') }}" alt="">
        </div>
      </section>
      
      <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">Poď<i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{ url_for('static',filename='inktober2020TEST.jpeg') }}" alt="..." />
                    </div>
                </div>
                <!-- Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">sa<i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{ url_for('static',filename='inktober2020SMS.jpeg') }}" alt="..." />
                    </div>
                </div>
                <!-- Item 3-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">zaočkovať<i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{ url_for('static',filename='inktober2020MASK.jpeg') }}" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>
          Bc. Ľubica Dúbravcová
          <script>
            document.write(new Date().getFullYear());
          </script>
        </small>
      </div>
    </div>

  </body>
</html>